# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA project-specific files
.idea
*.iml
*.iws

# Ignore Java and Kotlin specific files
out/
*.class

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db